// helpers
.cursor-pointer {
    cursor: pointer;
}
.border-radius-10 {
    border-radius: $border-radius;
}
a:hover {
    text-shadow: 3px 3px 4px rgba(2,43,105,0.15);
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}